# Node / general system files
.DS_Store
Thumbs.db
*.log
node_modules

# Neutralinojs binaries and builds
# /dist/
bin/
neutralinojs.log
site/dist/

# Neutralinojs config caches / storage
.storage

# IDE / editor files
.lite_workspace.lua
.vscode/
*.swp
*.swo

# OS-specific files
*.bak
*.tmp

# Optional: generated resource files
resource.rc
.gitignore
